body {
  background-image: linear-gradient(
    0deg,
    rgb(1, 1, 21),
    rgb(35, 119, 138),
    rgb(79, 201, 38)
  );
  color: blanchedalmond;
  font-family: "Kalam";
  min-height: 100vh;
}
/* add code here to make your image 300px square */
.squareImage {
  border-radius: 10px;
  height: 300px;
}
/* add code here to change the color and font family of your name/title */
.title {
  border-radius: 10px;
  padding-left: 15px;
  border: 2px dashed rgb(80, 66, 61);
  background-color: bisque;
  color: rgb(113, 84, 46);
}
/* Bonus: change the color of your list elements */
ol {
  color: rgb(21, 16, 9);
  background-color: rgb(232, 208, 179);
  border-radius: 10px;
}

li {
  padding-left: 25px;
  color: rgb(113, 84, 46);
  background-color: bisque;
  padding: 4px;
  border: 2px dotted rgb(80, 66, 61);
  border-radius: 30px;
  width: 100%;
}
